<div class="file-details">

    <div class="row">
        <div class="col-sm-12">
            <h1>{{ dir.RelativePathname }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">


            <h3>Details</h3>
            <div class="meta-data list-group">
                <div class="list-group-item" ng-repeat="(key, value) in dir.data.meta">
                    <h4 class="list-group-item-heading">{{ key }}</h4>

                    <p class="list-group-item-text">{{ value }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ dir.RelativePathname }}</h3>
                </div>

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="file in files">
                            <a ng-show="file.isFile" ui-sref="fileView({ relativePath: file.RelativePathname })">{{ file.Filename | handleFilePath: file: dir }}</a>
                            <a ng-show="file.isDir" ui-sref="dirView({ relativePath: file.RelativePathname })">{{ file.Filename }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>