
<div class="row">
    <div class="col-sm-12 file-list">
        <h1>File Browser</h1>

        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Path</th>
                <th>Modified</th>
            </thead>
            <tbody>
                <tr ng-repeat="file in files">
                    <td>
                        <a ng-show="file.isFile" ui-sref="fileView({ relativePath: file.RelativePathname })">{{ file.Filename }}</a>
                        <a ng-show="file.isDir" ui-sref="dirView({ relativePath: file.RelativePathname })">{{ file.Filename }}</a>
                    </td>
                    <td>{{ file.mimeType }}</td>
                    <td>{{ file.RelativePath }}</td>
                    <td>{{ file.MTime * 1000 | date:'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>